@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.typewriter {
  overflow: hidden;
  white-space: nowrap;
  width: 0;
  animation: typing 3s steps(40, end) forwards;
}

@font-face {
  font-family: 'Northwell';
  src: url('../fonts/Northwell.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

  